<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<section class="mt-4">
  <div class="container">
    <div class="mb-4 d-flex justify-content-center align-items-center">
      <h5 class="mb-0">Demo del consumo de un API Fake: &nbsp;</h5>
      <a href="https://jsonplaceholder.typicode.com/posts">https://jsonplaceholder.typicode.com/posts</a>
      <h5 class="mb-0">&nbsp; e implementación de docker</h5>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">userId</th>
          <th scope="col">Id</th>
          <th scope="col">title</th>
          <th scope="col">body</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of resultados">
          <th scope="row">{{ post.userId }}</th>
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<footer></footer>
<!-- <H2>César Cortés</H2>

<h5>Demo con Docker y consumo de API Dummy</h5>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<button class="btn btn-primary">Button</button>

<table>
  <thead>
    <tr>
      <th><p>id</p></th>
      <th><p>titulo</p></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of resultados">
      <td>{{ post.userId }}</td>
      <td>{{ post.title }}</td>
    </tr>
  </tbody>
</table> -->
